// LUI-3 FRAMEWORK
// github.com/LUI-3
// originally created by Jiří Bělský (github.com/wUFr)
// ----
// PHONE - NAVBAR - CLASSNAMES


.@{lui_class_prefix}_phone_navbar when (@lui_phone_navbar_class_enabled = true){
	.lui.phone_navbar.this();

	& > a {
		.lui.phone_navbar.item();
	}
}

.lui_phone_navbar_overlay {
	.lui.phone_navbar_overlay.this();

	&.opened {
		.lui.phone_navbar_overlay.opened();
	}

	ul.menu {
		.lui.phone_navbar_overlay.menu.this();

		li {
			.lui.phone_navbar_overlay.menu.item();

			&.spacer {
				.lui.phone_navbar_overlay.menu.spacer();
			}

			&.head {
				.lui.phone_navbar_overlay.menu.head();
			}

			a {
				.lui.phone_navbar_overlay.menu.link();
			}
		}
	}
}

html.overlay_opened {
	overflow: hidden;

	// DISABLE PAGE SCROLLING ON WINDOWS PHONE (IE)
	-ms-touch-action: none;
	touch-action: none;

	body {
		overflow: hidden;

		// DISABLE PAGE SCROLLING ON WINDOWS PHONE (IE)
		-ms-touch-action: none;
		touch-action: none;
	}
}